.bg-Desserts {
  background-color: #ffb15c !important;
}

.bg-Healthy {
  background-color: #6a9bf4 !important;
}

.bg-Vegetarian {
  background-color: #16c995 !important;
}

.bg-Seafood {
  background-color: #f74f78 !important;
}

.bg-Soups {
  background-color: #914300 !important;
}

